#tv {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -webkit-gradient(
	  radial, 50% 8%, 220, 50% 8%, 620, from(#ffec32), to(#fec801)
	);
}

.tv-product-title {
    color: #1b3fa9;
	width: 100%;
    font-size: 35px;
	line-height: 45px;
	margin: 10px 0;
    font-variant: small-caps;
    font-family: 'Lilita One', cursive;
	white-space: nowrap;
	
	footer & {
		font-size: 20px;
		line-height: 20px;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.stroke {
    text-shadow: 1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    0px 1px 0 #fff,
    0px -1px 0 #fff,
    -1px 0px 0 #fff,
    1px 0px 0 #fff,
    2px 2px 0 #fff,
    -2px 2px 0 #fff,
    2px -2px 0 #fff,
    -2px -2px 0 #fff,
    0px 2px 0 #fff,
    0px -2px 0 #fff,
    -2px 0px 0 #fff,
    2px 0px 0 #fff,
    1px 2px 0 #fff,
    -1px 2px 0 #fff,
    1px -2px 0 #fff,
    -1px -2px 0 #fff,
    2px 1px 0 #fff,
    -2px 1px 0 #fff,
    2px -1px 0 #fff,
    -2px -1px 0 #fff,
    1px 1px 10px #000;
}

.tv-product {
    position: absolute;
    top: 10%;
    right: -100%;
	
	footer & {
		position: static;
		float: left;
		width: 400px;
	}
}

.tv-product-info {
	width: 600px;
    position: absolute;
    top: 5%;
    left: -webkit-calc(10% + 350px);
	
	footer & {
		width: 180px;
		padding: 0 10px;
		position: static;
		float: left;
	}
}

.tv-product-qrcode {
    width: 100px;
    height: auto;
    padding: 10px;
    background: #fff;
	
	footer & {
		width: 50px;
		padding: 2px;
	}
}

.tv-product-price {
	margin: 0;
    color: rgb(0, 139, 204);
    font-size: 80px;
	line-height: 80px;
	margin-bottom: 10px;
    font-variant: small-caps;
    font-family: 'Lilita One', cursive;
	
	footer & {
		font-size: 20px;
		line-height: 20px;
		
		small {
			font-size: 10px;
		}
	}
	
	small {
	    font-size: 30px;
	}
}

.tv-product-image {
	width: 300px;
    background-color: #fff;
	border: 1px solid #efefef;
	padding: 10px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
	
	footer & {
		width: 100px;
		float: left;
	}
}

/* PROCESSAR AQUI! */

/* P1 */

@for $i from 1 through 10 {
	$time: ($i - 1) * 9s;
	.product.product-#{$i} {
	    animation: transitimage 10s linear $time;
	    -moz-animation: transitimage 10s linear $time;
	    -webkit-animation: transitimage 10s linear $time;
	    -o-animation: transitimage 10s linear $time;

		& > img {
		    -webkit-animation:  rotateimg 2.5s linear $time, 
		                        pluswidth 1.5s linear ($time + .5s);
		}

		.description {
		    -webkit-animation: transitdescription 3.5s linear $time;
		}
	}
}

/* KEYFRAMES */

@-webkit-keyframes transitdescription {
    15%     { margin-left: 45px;}
}

@-webkit-keyframes transitimage {
    0%      { right: -100%;}
    10%     { right: -webkit-calc(98% - 350px);}
    25%    { right: -webkit-calc(95% - 350px);}
    90%    { right: -webkit-calc(95% - 350px);}
    100%    { right: -webkit-calc(200%);}
}

@-webkit-keyframes rotateimg {
	50%	 {-webkit-transform: rotate(-10deg);}
}

@-webkit-keyframes pluswidth {
	50%  {	width: 450px;}
}

@-webkit-keyframes leaveimage {
    50%  {  width: 450px;}
}

footer {
    position: absolute;
    bottom: 5%;
    left: 0px;
    width: 90%;
	padding: 0 5%;
}