.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			= image_tag "logo.png"
			.pull-right
				%ul.nav
					%li.active
						= link_to 'Logout', logout_path

.container
	.row
		.span12
			.page-header
				%h1 Meus produtos
			%h3 Anunciados
			= render :partial => "product", :collection => @products
			%h3 Não anunciados
			= render :partial => "ml_product", :collection => @ml_products

	.footer
		%p &copy; Powered by Mercado Livre