%.navbar.navbar-inverse.navbar-fixed-top
	%.navbar-inner
		%.container
			%a.brand{:href=> "#"}
				%img{:src=>"images/logo.png"}
			%.pull-right
            	%ul.nav
              		%li.active
              			%a{:href="#"} Logout

%.container
	%.row
		%.span12
			%.page-header
				%h1 Meus produtos
			%h3 Anunciados
			%.anunciado
				= render :partial => "product", :collection => @products
			%h3 Não anunciados
			%.nao-anunciado
				= render :partial => "ml_product", :collection => @ml_products

	%.footer
		%p &copy; Powered by Mercado Livre