.navbar-inner {
	background-image: -webkit-linear-gradient(top, rgb(254, 200, 1), rgb(255, 236, 50)) !important;
	border: 0px !important;
	height: 55px;
}
.navbar-inner .container {
	text-align: center;
}
.brand {
	position: absolute;
	left: -webkit-calc(50% - 90px);
}
.brand img {
	top: 3px;
	position: absolute;
	max-width: 146px !important;
}
.nav a {
	top: -5px;
	line-height: 35px;
	background-color: #1B3FA9 !important;
}
.nav a:hover {
	background-color: rgb(38, 80, 206) !important;
}
.hero-unit {
	padding: 30px !important;
	text-align: center;
}
h4 {
	color: #1B3FA9 !important;
}
.anunciado blockquote {
	border-left: 5px solid rgb(117, 226, 107) !important;
}
.nao-anunciado blockquote {
	border-left: 5px solid rgb(226, 107, 107) !important;
}
blockquote:hover {
	cursor: pointer;
	background-color: #eee;
}
.ml-login {
	height: 100px !important;
	width: 303px !important;
}